<!DOCTYPE html>
<html ng-app="armExplorer">

<head>
    <base href="/" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js" integrity="sha512-h9kKZlwV1xrIcr2LwAPZhjlkx+x62mNwuQK5PAu9d3D+JXMNlGx8akZbqpXvp0vA54rz+DrqYVrzUGDMhwKmwQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.21/angular.min.js" integrity="sha512-AvPpILCOSPjAcM1b19MHnp5kIwbOVYCFzIzJWGva9wAtmdvEfkgcEdh5BqpCAKUvpYKHmnEdtDJgyEmlzHfc8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.21/angular-route.min.js" integrity="sha512-pq0AIhkzXn68WH+E/WlexZVrgl7npNZIMbBFNMlkI3waHc3ZExRta17+pD/5HqqYP/szHbUqZBeDFi2y5L4p9w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.21/angular-animate.min.js" integrity="sha512-WIKHAel8s2WKe9eSI8nmyIarqC8GhI4wb5SiWdAMIbFGNxUTIzZHHClDBy9jF7ndua8g5DgPYoY0U+1sYvp7NQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.21/angular-sanitize.min.js" integrity="sha512-5h3O1NaQ4/54AilNeKvZvDQuv13gadr1rd9hyJMbAMKliGnQsKHtldSLFtOIAnL8UeF9QK6DV4nJTh7jkwM9FA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js" integrity="sha512-8yLn6T7PXUoRqyy0eFixKB7wcnk3GL149XC2tAmrHy1FkSVYFoe0YlkONSm9cZ5zcHWcOktpDHRlMRHlxf6PPA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/2.2.27/rx.lite.compat.min.js" integrity="sha512-KiIh255SDrYqkgz/NW4uzqUNRp7B+oUd99xbrUn4Lznn5ek5Yg++JOb3m63kKZYoANbsDxZMTxBgH1ZAg9WGaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="Content/Scripts/abn_tree_directive.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js" integrity="sha512-Vv0Au8FPdZWnia9EYtb5hur2IwMdqgseL2y/Pzfw04uDeYCF+dXrJPpzPG5Mj/2xubDGA1rgY8WEniEV70y8Ig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rx-angular/0.0.12/rx.angular.min.js" integrity="sha512-VtMmmTMoxR/KTLQChxM/6UcRdROOnesEcIL5F5qglLR6d7T+T2jeRWFzbE4aqglwjkvhgK9GVslAgsUXYwyyLQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="ng/manage2.js"></script>

    <title>ARMExplorer</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css" integrity="sha512-cp9JSDyi0CDCvBfFKYLWXevb3r8hRv5JxcxLkUq/LEtAmOg7X0yzR3p0x/g+S3aWcZw18mhxsCXyelKWmXgzzg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Custom CSS -->
    <link href="Content/Styles/sb-admin-2.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" integrity="sha512-77kidyGDJGWWmJ0MVO0CRp+6nRgZRK67frUVBRvnL1zCcmcw9FkCQxpDHq52SebW+KWTAnnuX0Qk2/MQWogWoQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="Content/Styles/app2.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div id="wrapper" ng-controller="rawBodyController">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" ng-click="clearEnvironment()">Azure Resource Explorer</a>
                <select ng-model="selectedTenant" ng-options="tenant.name for tenant in tenants" style="position: absolute; top: 15px" ng-change="tenantSelect()"></select>
                <span class="loading-spinner" ng-show="loading">
                    <i class="fa fa-spinner fa-spin" title="Please wait" style="margin-top: 10px"></i>
                </span>
            </div>
        </nav>
        <div id="sidebar" class="navbar-default sidebar" role="navigation">
          <div id="request-editor" style="width: 100%; min-height: 100%; border: 1px solid #bcbcbc; border-radius: 4px 4px 0px;"></div>
        </div>
        <div id="content">
          <div id="response-editor" style="width: 100%; min-height: 100%; border: 1px solid #bcbcbc; border-radius: 4px 4px 0px;"></div>
        </div>

        <div id="sidebar-resizer"
             resizer="vertical"
             resizer-width="2"
             resizer-left="#sidebar"
             resizer-right="#content"
             resizer-max="2800">
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js" integrity="sha512-PxtG6eoPtr5QdgWieDr0Bsa0+IXe2qRAG/8gSw/pBWZWcXQRAhWU4lEumKTjmOMjgmen3q/robV+RD3sqwR36g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>
